@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    background: rgb(243, 192, 229);
}
.capa{
    width: 100%;
}